@charset "utf-8";
/* CSS Document */

.cta {
    background-color: #f3f1f0;
    padding: 60px 0;
    color: #1F2ABB;
}
.cta h3 {
  font-size: 28px;
  font-weight: 700;
}
.cta h3 span {
    color: #B78D26;
}
.cta p {
  padding: 0;
  margin: 0;
}
.cta .cta-btn {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 2px;
    transition: 0.4s;
    margin: 10px;
    border-radius: 4px;
    border: 3px outset #D6B259;
    color: #B78D26;
    background: #fff;
}
.cta .cta-btn:hover {
    background-color: #737AE7;
    color: #fff;
}

.sidetext {
    color: rgba(86,95,218,1.00);
    text-align: center;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}
@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.sidep {
    text-align: center;
    color: rgba(0,0,0,1.00);
}
.h2text {
    text-align: center;
}
.headername {
    color: rgba(214,178,89,1.00);
}
.headername2 {
    color: rgba(86,95,218,1.00);
}
.headername3 {
    color: rgba(183,141,38,1.00);
}
