@charset "utf-8";
/* CSS Document */

.headingbrand {
    display: block;
    color: hsla(46,66%,45%,1.00);
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    text-align: center;
}
.overview {
    clear: both;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    color: hsla(206,67%,31%,1.00);
}
.headingservices {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-weight: bold;
    color: hsla(46,66%,45%,1.00);
}
.featuredhead {
    display: block;
    font-weight: bold;
    text-align: center;
    color: hsla(46,66%,45%,1.00);
    padding-right: 15px;
    padding-left: 15px;
}
.overviewtext {
   color: hsla(0,0%,0%,1.00)
}
.featuredhtext {
    color: hsla(70,9%,37%,1.00);
}
.navstyle {
    float: right;
    display: block;
    padding-left: 400px;
  }
.logostyle {
    margin-left: 8px;
    height: auto;
}
.mailstyle {
    display: block;
    margin-left: 0cm;
    clear: both;
}
.namestyle {
    width: 7cm;
    height: 1.2cm;
    display: block;
    border: medium double hsla(45,63%,44%,1.00);
}
.emailaddressstyle {
    width: 7cm;
    height: 1.2cm;
    display: block;
    border: medium double hsla(45,63%,44%,1.00);
}
.subjectstyle {
    border: medium double hsla(45,63%,44%,1.00);
    width: 7cm;
    height: 1.2cm;
}
.messagestyle {
    width: 7cm;
    height: 2.8cm;
    border: medium double hsla(45,63%,44%,1.00);
}
.emailhedear {
    display: block;
    text-align: justify;
    color: hsla(46,66%,45%,1.00);
}
.locateushead {
    text-align: justify;
    color: hsla(46,66%,45%,1.00);
}
.locaterow {
    margin-left: 0px;
}
.jumbostyle {
	background-image: url("images/High_resolution_wallpaper_background_ID_77700014840.jpg")

}
.ac1 {
    text-align: center;
    color: hsla(247,70%,45%,1.00);
}
.ac {

}
.ac0 {
    text-align: center;


}
.ac2 {
	   text-align: center;
    color: hsla(247,70%,45%,1.00);
}
.ac3 {
	   text-align: center;
    color: hsla(247,70%,45%,1.00);
}
.ac4 {
	   text-align: center;
    color: hsla(247,70%,45%,1.00);
}
.ac5 {
	   text-align: center;
    color: hsla(247,70%,45%,1.00);
}
.bc {
    color: hsla(247,70%,45%,1.00);
   
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-size: x-large;
    text-shadow: 1px 1px hsla(46,66%,45%,1.00);
    background-color: hsla(0,0%,100%,1.00);
}
.bc2 {color: hsla(247,70%,45%,1.00);
    
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-size: x-large;
    text-shadow: 1px 1px hsla(46,66%,45%,1.00);
    background-color: hsla(0,0%,100%,1.00);
}
.bc1 {color: hsla(247,70%,45%,1.00);
    
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-size: x-large;
    text-shadow: 1px 1px hsla(46,66%,45%,1.00);
    background-color: hsla(0,0%,100%,1.00);
}
.bc3 {color: hsla(247,70%,45%,1.00);
    
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-size: x-large;
    text-shadow: 1px 1px hsla(46,66%,45%,1.00);
    background-color: hsla(0,0%,100%,1.00);
}
.bc4 {color: hsla(247,70%,45%,1.00);
   
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-size: x-large;
    text-shadow: 1px 1px hsla(46,66%,45%,1.00);
    background-color: hsla(0,0%,100%,1.00);
}
.bc5 {color: hsla(247,70%,45%,1.00);
    
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-size: x-large;
    text-shadow: 1px 1px hsla(46,66%,45%,1.00);
    background-color: hsla(0,0%,100%,1.00);
}
.bc6 {color: hsla(247,70%,45%,1.00);
    
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-size: x-large;
    text-shadow: 1px 1px hsla(46,66%,45%,1.00);
    background-color: hsla(0,0%,100%,1.00);
}
.bc7 {color: hsla(247,70%,45%,1.00);
    
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-size: x-large;
    text-shadow: 1px 1px hsla(46,66%,45%,1.00);
    background-color: hsla(0,0%,100%,1.00);
}
.bc8 {color: hsla(247,70%,45%,1.00);
    
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-size: x-large;
    text-shadow: 1px 1px hsla(46,66%,45%,1.00);
    background-color: hsla(0,0%,100%,1.00);
}
.jumbotron1 {
	background-color: aliceblue;
	background-image: url("images/High_resolution_wallpaper_background_ID_77700014840.jpg")
		
}
.atext1 {
    text-align: center;
}
.atext2 {text-align: center;
}
.atext3 {text-align: center;
}
.atext4 {text-align: center;
}
.atext5 {text-align: center;
}
.crtext {
    color: hsla(46,66%,45%,1.00);
    font-weight: bolder;
    font-size: xx-large;
}
.crtext1 {color: hsla(46,66%,45%,1.00);
	font-weight: bolder;
    font-size: xx-large;
}
.crtext2 {color: hsla(46,66%,45%,1.00);
	font-weight: bolder;
    font-size: xx-large;
}
.crptext {color: hsla(247,70%,45%,1.00);
	font-weight: bold;
    font-size: large;
}
.crptext1 {color: hsla(247,70%,45%,1.00);
	font-weight: bold;
    font-size: large;
}
.cprtext2 {color: hsla(247,70%,45%,1.00);
	font-weight: bold;
    font-size: large;
}
.navedit {
    padding-left: 5cm;
}
.navlogo {
    margin-left: 2cm;
}
.navbarstyle {
    background-image: -webkit-linear-gradient(270deg,rgba(185,132,52,1.00) 0%,rgba(252,252,252,1.00) 9.33%,rgba(200,153,34,1.00) 18.76%,rgba(244,236,214,1.00) 42.06%,rgba(255,255,255,1.00) 79.38%);
    background-image: -moz-linear-gradient(270deg,rgba(185,132,52,1.00) 0%,rgba(252,252,252,1.00) 9.33%,rgba(200,153,34,1.00) 18.76%,rgba(244,236,214,1.00) 42.06%,rgba(255,255,255,1.00) 79.38%);
    background-image: -o-linear-gradient(270deg,rgba(185,132,52,1.00) 0%,rgba(252,252,252,1.00) 9.33%,rgba(200,153,34,1.00) 18.76%,rgba(244,236,214,1.00) 42.06%,rgba(255,255,255,1.00) 79.38%);
    background-image: linear-gradient(180deg,rgba(185,132,52,1.00) 0%,rgba(252,252,252,1.00) 9.33%,rgba(200,153,34,1.00) 18.76%,rgba(244,236,214,1.00) 42.06%,rgba(255,255,255,1.00) 79.38%);


	}
.footerstyle {
    background-image: url(images/High_resolution_wallpaper_background_ID_77700014840.jpg);
    background-size: cover;

}
.logoabt {
    display: block;
    text-align: center;


}
.pabt {


}
.servicesstyle {
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    max-width: 960px;
    padding-left: 2.275%;
    padding-right: 2.275%;
  color: hsla(247,70%,45%,1.00);

}
.servicestyle2 {
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    max-width: 960px;
    padding-left: 2.275%;
    padding-right: 2.275%;
    color: hsla(247,70%,45%,1.00);
}
